<div class="page-header">
  <h3>Family #<%= @family.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Last name</dt>
      <dd><%= @family.last_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/families" class="btn btn-primary">
        Back
      </a>
      <a href="/families/<%= @family.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_family/<%= @family.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
